* {
    /* border: 1px solid #efefef; */
    box-sizing: border-box;
}
.body {
    height: 100vh;
}
h1, button, span, p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    font-size: 2rem;
}
p {
    font-size: 5rem;
}
span {
    aspect-ratio: 1 / 1;
}
button {
    display: block;
}
.padding-20 {
    padding: 20px;
}
.margin-0 {
    margin: 0;
}
.flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.column {
    flex-direction: column;
}
.center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}
.flex-grow-1 {
    flex-grow: 1;
}
.basis-20 {
    flex-basis: 20%;
}
.basis-33 {
    flex-basis: calc(100% / 3);
}
.basis-6 {
    flex-basis: calc( (100% / 3) * 2);
}
.ar-square {
    aspect-ratio: 1 / 1;
}
.space-between {
    justify-content: space-between;
}
.space-around {
    justify-content: space-around;
}
.space-evenly {
    justify-content: space-evenly;
}
.tile {
    border: 1px solid black;
}
.yellow {
    background-color: gold;
}

